<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>328066223705-fiahpn67obqct53oeuhf2dsjrm93jf6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.328066223705-fiahpn67obqct53oeuhf2dsjrm93jf6a</string>
	<key>API_KEY</key>
	<string>AIzaSyCP5ORZoU2lz3SJgp3QRj-0VXfkK4Hkjck</string>
	<key>GCM_SENDER_ID</key>
	<string>328066223705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hello</string>
	<key>PROJECT_ID</key>
	<string>logpage-4401f</string>
	<key>STORAGE_BUCKET</key>
	<string>logpage-4401f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:328066223705:ios:a0b6531c1c1620a80aab48</string>
</dict>
</plist>